{
  "hosts" : ["localhost", "e.localhost",
	     "hoi.jabber.ru", "zinid.ru"],
  "loglevel" : "notice"

  "modules": {
    "mod_roster_sql": {},
    "mod_version": {
      "show_os": true
    },
    "mod_version": {},
    "mod_last_sql": {}
  }
}

/* Local Variables: */
/* mode: js2        */
/* End:             */
